{% set firstPart = uri.route|split("/")|first %}
{% set css = document.css %}

<!DOCTYPE html>
    <head>
        <title>{% block title %}{{ document.title }}{% endblock %}</title>
    {% for file in css %}

        <link href="{{ document.url }}/{{ file }}" rel="stylesheet"/>
    {% endfor %}
        <link href="{{ document.url }}libraries/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <link href="{{ document.url }}inc/Template/css/main.css" rel="stylesheet"/>
    <meta name="description" content="{{ document.meta.description }}">
    <meta name="keywords" content="{{ document.meta.keywords }}">
    </head>
    <body>

    <main>
        <div class="container">
            {% block menu %}
                <header class="border-bottom border-dark">
                    <span class="pull-right"><a href="{{ uri.base.path }}" ><i class="glyphicon glyphicon-share"></i>&nbsp;View site</a></span>
                    <h3><strong>Administration</strong></h3>
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item {{ "" == uri.route or "dashboard" == firstPart ? "active" : "" }}"><a href="/todolist/getallitems" class="nav-link">Todolist</a></li>
                                <li class="nav-item {{ "news" == uri.route or "news" == firstPart ? "active" : "" }}"><a href="/blog/getallitems" class="nav-link">Blog</a></li>
                                <li class="nav-item"><a href="https://bitbucket.org/joomlaweby/todo-final/src/master/" class="nav-link" target="_blank">Docs</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
            {% endblock %}


            {% block subtitle %}{% endblock %}
            {% for type, flashMessages in flashBag %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content %}

                <h2><strong>{{ document.title }}</strong></h2>



            {% endblock %}
            <hr>

            <div class="footer">
                <p>{{ document.chuck|raw }}</p>
            </div>

        </div>
    </main>


        <script src="{{ uri.base.path }}inc/Template/js/jquery.min.js"></script>
        <script src="{{ uri.base.path }}inc/Template/js/bootstrap.min.js"></script>
    </body>
</html>
