{% extends "index.twig" %}

{% block title %}Add/Edit Article{% endblock %}

{% block subtitle %}<h1 class="page-header">{{ page.title }}</h1>{% endblock %}

{% block content %}
    <p>{{ item.body }}</p>
    {% for module in modules %}
        <div class="module-wrapper{{ module.id }}">
            <h3>{{ module.name }}</h3>
        </div>
    {% endfor %}
{% endblock %}