{% extends "index.twig" %}
{% set lastIndex = items|length - 1 %}

{% block title %}{{ page.title }}{% endblock %}

{% block subtitle %}
    <h1 class="page-header">{{ page.title }}</h1>
{% endblock %}

{% block content %}
    {{ dump(document.formData) }}

    {% if document.formData != null %}
        {% set action = 'updateItem' %}
    {% else %}
        {% set action = 'insertItem' %}
    {% endif %}
    <div class="row">
        <form method="post" class="col-sm-4" action="/todolist/{{ action }}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="id" value="{{ document.formData.id }}">
                <input type="hidden" name="file" value="{{ document.formData.file }}">
                <label class="col-sm-2 col-form-label"><strong>Deadline</strong></label>
                <input type="date" class="form-control" name="date" value="{{ document.formData.date }}">
                <label for="task" class="col-sm-2 col-form-label"><strong>Title</strong></label>
                <input type="text" class="form-control" name="task" value="{{ document.formData.name }}">
                <label for="fileUpload" class="col-sm-2 col-form-label"><strong>Image</strong></label>
                <div class="input-group mb-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="fileUpload" id="fileUpload">
                        <label class="custom-file-label" for="fileUpload">Choose file</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block"><br>
            </div>

        </form>

        <div class="col-sm-8 pull-right text-left">
            {% if document.isEdit == true %}
                <h3 class="mb-5"><span class="text-muted">Editing item:</span> <span
                            class="text-primary float-right text-right">{{ document.formData.name }}<br></span></h3>

                <img src="/{{ document.formData.file }}" class="clearfix mb-5" width='200' height='auto'/>

                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item"><strong
                                class="text-primary">Deadline:</strong> {{ document.formData.date }}
                        {% set difference = date(document.formData.date).diff(date(now)) %}
                        {% set leftDays = difference.days %}

                        <span class="text-muted float-right">{{ leftDays }} days left</span>

                        {% if leftDays == 1 %}
                            <span class="text-muted float-right">{{ leftDays }} day left</span>
                        {% endif %}
                        {% if leftDays < 0 %}
                            <span class="text-warning float-right">{{ leftDays }} days overdue</span>
                        {% endif %}
                        {% if leftDays == 0 %}
                            <span class="text-warning float-right"><strong>Today is your last chance to do it!</strong></span>
                        {% endif %}

                    </li>
                    <li class="list-group-item">

                        <strong class="text-primary">Image: </strong>{{ document.formData.file }}<span
                                class="delete-button"><a href="/todolist/deletefile/{{ document.userId }}"
                                                         class="btn btn-warning btn-sm"><span
                                        class="glyphicon glyphicon-remove"
                                        aria-hidden="true"></span>&nbsp;Delete file</a></span><span
                                class="text-muted float-right">px x px</span></li>

                </ul>
            {% endif %}
        </div>
        <div class="clearfix"></div>


    </div>

    <table class='table clearfix item-list'>

        <thead class='thead-dark'>
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Deadline</th>
                <th>File</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><h4 class="text-primary">{{ item.name }}</h4></td>
                <td>{{ item.date }}<br>

                </td>
                <td>
                    <a href="/{{ item.file }}" download><img src="/{{ item.file }}" width='160' height='auto'></a>
                </td>
                <td class='actions'>
                    <a href='/todolist/deleteitem/{{ item.id }}' class='glyphicon glyphicon-trash delete-link'
                       title='delete'></a>
                    <a href='/todolist/getitem/{{ item.id }}' class='glyphicon glyphicon-edit edit-link' title='edit'></a>
                    {% if loop.index0 != 0 %}
                        <a href='/todolist/moveup/{{ item.id }}' class='glyphicon glyphicon-arrow-up' title='move up'></a>
                    {% endif %}
                    {% if lastIndex != loop.index0 %}
                        <a href='/todolist/movedown/{{ item.id }}' class='glyphicon glyphicon-arrow-down'
                           title='move down'></a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}