
.edit-link {
    margin-right: 15px;
}

.controls a {
    font-size: 13px;
}

.list-group-item .controls {
    display: none;
}

.list-group-item:hover .controls {
    display: block;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.actions a, .actions a:hover{
    text-decoration: none;
}

.actions a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.actions a {
    margin-right: 12px;
}

.delete-link, .delete-link:hover {
    color: #cb4b16;
}


header {
    margin: 20px 0;
}

header a:hover {
    text-decoration: none!important;
    opacity: 0.7;
}

.text-muted {
    opacity: 0.5;
}

.delete-button {
    display: none;
    margin-left: 25px;
    position: absolute;
}

.list-group-item:hover .delete-button {
    display: initial;
}

.badge-secondary {
    color: #002b36;
}

.close, .close:hover {
    color: #252525;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-control {
    margin-bottom: 15px;
}

a.glyphicon {
    text-decoration: none;
}

pre {
    padding: 10px;
}



